@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Content/CI-Logo-PolicyConnect.png" />
    <p class="lead">Welcome to the Policy Management System</p>
    <p><a href="Policies/" class="btn btn-primary btn-lg">Current Policy Offerings &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            Our goal is to have customers for life.  Things change, so keep their information updated.
        </p>
        <p><a class="btn btn-default" href="People/">Go Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Policy Holders</h2>
        <p>Details Matter, so make sure to capture them all!</p>
        <p><a class="btn btn-default" href="PolicyHolders">Go Now &raquo;</a></p>
    </div>
</div>